
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">EduMoodle</title>
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">

    <!-- Thêm CSS trực tiếp vào thẻ <style> -->
    <style>
        /* Đảm bảo phần content có nền màu xám */
        .content {
            background-color: #f8f9fa;
            min-height: 100vh;
        }

        html, body {
            height: 100%;
        }

        .category-list {
            list-style-type: none;
            padding: 0;
        }

        .category-item {
            padding: 10px;
            cursor: pointer;
        }

        .category-item:hover {
            background-color: #e9ecef;
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        thead th {
            background-color: #f1f1f1; /* Nền nhạt hơn */
            color: #333; /* Màu chữ đậm hơn */
        }

        .btn {
            margin: 0 5px;
        }

        .btn-danger {
            background-color: #dc3545;
        }

        .btn-primary {
            background-color: #007bff;
        }
    </style>

</head>

<!--logo and login-->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img th:src="@{/imgs/logoctu.png}" alt="logo web" style="height:100px;">
        </a>
        <div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;font-size: 24px;">Tên đăng nhập</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Hồ sơ</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" sec:authorize="isAuthenticated" th:href="@{/logout}"><i class="bi bi-box-arrow-right" style="margin-right: 5px;"></i> Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--thanh menu-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00afef">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
            <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-center w-100">
                <li class="nav-item mx-3"><a class="nav-link active" aria-current="page" th:href="@{/home}">Trang chủ</a></li>
                <li class="nav-item mx-3"><a class="nav-link" href="#">Trang cá nhân </a></li>
                <li class="nav-item mx-3"><a class="nav-link" th:href="@{/my-courses-student}">Các khóa học của tôi</a></li>
            </ul>
        </div>
    </div>
</nav>


<body layout:fragment="body">
<!-- Phần nội dung chính của trang -->
<div class="content">
    <div class="container">
        <!-- Nội dung của bạn sẽ được đặt tại đây -->
        <h1>Chào mừng đến với EduMoodle</h1>
        <p>Nội dung của trang web sẽ được hiển thị ở đây.</p>
    </div>
</div>

</body>
<!--footer-->
<footer class="py-3" style="background-color: #1f5ca9; height:100px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <a href="#" class="text-light text-decoration-none">
                    <i class="bi bi-globe"></i> Trường Đại học Cần Thơ
                </a><br><br>
                <p class="mb-0 text-white">© 2024 Trường Đại học Cần Thơ</p>
            </div>
            <div class="col text-end">
                <a href="#" class="text-muted mx-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-muted mx-2"><i class="bi bi-youtube"></i></a>
                <a href="#" class="text-muted mx-2"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-muted mx-2"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js">
    /*!
* Start Bootstrap - Creative v7.0.7 (https://startbootstrap.com/theme/creative)
* Copyright 2013-2023 Start Bootstrap
* Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-creative/blob/master/LICENSE)
*/
    //
    // Scripts
    //

    window.addEventListener('DOMContentLoaded', event => {

        // Navbar shrink function
        var navbarShrink = function () {
            const navbarCollapsible = document.body.querySelector('#mainNav');
            if (!navbarCollapsible) {
                return;
            }
            if (window.scrollY === 0) {
                navbarCollapsible.classList.remove('navbar-shrink')
            } else {
                navbarCollapsible.classList.add('navbar-shrink')
            }

        };

        // Shrink the navbar
        navbarShrink();

        // Shrink the navbar when page is scrolled
        document.addEventListener('scroll', navbarShrink);

        // Activate Bootstrap scrollspy on the main nav element
        const mainNav = document.body.querySelector('#mainNav');
        if (mainNav) {
            new bootstrap.ScrollSpy(document.body, {
                target: '#mainNav',
                rootMargin: '0px 0px -40%',
            });
        };

        // Collapse responsive navbar when toggler is visible
        const navbarToggler = document.body.querySelector('.navbar-toggler');
        const responsiveNavItems = [].slice.call(
            document.querySelectorAll('#navbarResponsive .nav-link')
        );
        responsiveNavItems.map(function (responsiveNavItem) {
            responsiveNavItem.addEventListener('click', () => {
                if (window.getComputedStyle(navbarToggler).display !== 'none') {
                    navbarToggler.click();
                }
            });
        });

        // Activate SimpleLightbox plugin for portfolio items
        new SimpleLightbox({
            elements: '#portfolio a.portfolio-box'
        });

    });

</script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</html>

